#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.chart-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 16px;
}

.selector {
  display: flex;
  gap: 8px;
  align-items: center;
}